@import url(./variables.css);

.link {
    color: var(--primary-color);    
}
.navbar{
    border: 1px solid black;
}

/*boton base*/
.btn {
    height: 5vh;
    border-radius: 10px;
}
.btn-info {
    background-color: var(--info);
    color:white;
}

.btn-small {
    height: 4vh;
}

.btn-large {
    height: 8vh;
    width: 15vw;
}