* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100vh; */
}

.flex-item {
    width: 50px;
    height: 50px;
    margin: 1px;
}

.left {
    width: 29vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    background-color: aquamarine;
    width: 69vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right a {
    text-decoration: none;
}

/*media query*/
@media screen and (min-width:426px){
    .flex-container {
        flex-direction: column;    
        /* justify-content: flex-start; */
        align-items: flex-start;
        height: 90vh;
        width: 100vw;
    }
    .left {
        width: 100%;
        justify-content: flex-start;
    }
    .right {
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        height: 70%;
    }
}